*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
header .container{
    display: flex;
    background-color: rgb(37, 46, 73);
    backdrop-filter: blur(10px);
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 75px;
    position: fixed;
    width: 100%;
    
    
}
header .container .navabar{
    display: flex;
}